.Input {
	padding: var(--space2);
	background-color: var(--color-neutral100);
	border: none;
	border-radius: 100px;
	color: var(--color-neutral400);
	font-size: var(--font-size2);
}

.Input::placeholder {
	color: var(--color-neutral300);
}

.Input:focus:not(:focus-visible) {
	outline: none;
}
.Input:focus-visible {
	outline: 1px solid var(--color-primary400);
}
