.Button {
	all: unset;
	padding: var(--space3) var(--space1);
	color: var(--color-primary400);
	font-weight: bold;
	cursor: pointer;
}

.Button:focus:not(:focus-visible) {
	outline: none;
}
.Button:focus-visible {
	outline: 1px solid var(--color-primary400);
}
