.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	background-color: var(--color-neutral100);
	text-align: center;
}

.App-header,
.App-footer {
	padding: var(--space3) var(--space2);
}

.App-header h1 {
	margin: 0;
}

.App-main {
	flex: 1;
	overflow: scroll;
	padding: 0 var(--space2);
}

.App-footer {
	display: grid;
	grid-template-columns: auto 120px 60px;
	align-items: center;
	gap: var(--space2);
	background-color: var(--color-neutral0);
}
