.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	background-color: var(--color-neutral100);
	text-align: center;
}

.App-header,
.App-main,
.App-footer {
	padding: var(--space-3) var(--space-2);
}

.App-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.App-footer {
	display: grid;
	grid-template-columns: auto 60px;
	gap: var(--space-2);
	background-color: var(--color-neutral0);
}
