:root {
	--color-primary400: #0D978D;

	--color-neutral0: #FFFFFF;
	--color-neutral100: #F8FAFB;
	--color-neutral200: #ECEEF2;
	--color-neutral300: #9097A4;
	--color-neutral400: #3E4250;
	--color-neutral500: #262C3C;

	--space1: 8px;
	--space2: 16px;
	--space3: 24px;
	--space4: 32px;

	--font-size1: 12px;
	--font-size2: 16px;

	--radius1: 8px;
	--radius2: 100px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	color: var(--color-neutral500);
	font-size: var(--font-size2);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
#root {
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
