.Message {
	padding: var(--space3);
	background-color: var(--color-primary400);
	border-radius: var(--radius1) var(--radius1) var(--radius1) 0;
	color: var(--color-neutral0);
	text-align: left;
}

.Message.mod-private {
	position: relative;
	background-color: var(--color-neutral400);
}

.Message.mod-private::after {
	content: "Private";
	position: absolute;
	top: var(--space1);
	right: var(--space1);
	color: var(--color-neutral300);
	font-size: var(--font-size1);
}